.Hero__image {
    height: 90vh;
    width: 100vw;
    object-fit: cover;
}

.Hero__aboutUs__text {
    margin: 0;
    position: absolute;
    top: 44vh;
    z-index: 1;
    font-size: 100px;
    color: white;
    left: 15%;
}

.Hero__contact__text {
    margin: 0;
    position: absolute;
    top: 22vh;
    z-index: 1;
    font-size: 120px;
    color: black;
    left: 10%;
    width: 40%;
}