body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.Navbar__bar {
  display: grid;
  grid-template-areas: "littleMenu brand" ". menu";
  grid-template-rows: 12vh 8vh;
  grid-template-columns: 20vw 80vw;
  height: 20vh;
  width: 100vw;
  background-color: white;
}

.Navbar__little__menu {
  grid-area: littleMenu;
  margin: 1em 0 0 .5em;
}

.Navbar__little__link {
  padding: 10px 10px;
  font-size: .7em;
}

.Navbar__brand {
  font-family: "Parisienne", cursive;
  font-size: 1.5em;
  grid-area: brand;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  left: 25vh;
}

.Navbar__brand h1 {
  margin: 0;
  cursor: pointer;
  width: 40%;
  height: 60%;
}
.Navbar__brand:hover h1 {
  font-weight: bold;
}

.Navbar__menu {
  grid-area: menu;
  display: flex;
  width: 40%;
  align-items: center;
  position: relative;
  left: 40vh;
}

.Navbar__menu-list,
.Navbar__little__menu-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.Navbar__menu-item,
.Navbar__little__menu-item {
  list-style: none;
}

.Navbar__brand,
.Navbar__link,
.Navbar__little__link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.Navbar__link {
  padding: 10px 25px;
}

.Navbar__link:hover,
.Navbar__little__link:hover {
  color: #9c9c9c;
}
