html {
	display: flex;
	justify-content: center;
	background: white;
}

body {
	margin: 0;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	width: 60%;
	background: #F7F7F7;
	margin-top: 100px;
}

main {
	position: relative;
	top: 100vh;
}

.marca {
	font-family: 'Grand Hotel', cursive;
	font-size: 3em;
	color: black;
}

header a {
	text-decoration: none;
}

header {
	display: flex;
	height: 100px;
	justify-content: space-evenly;
	background: #F7F7F7;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 5;
}

.menu {
	display: flex;
	height: inherit;
}

.menu-list {
	display: inherit;
	height: inherit;
	margin: 0;
	padding: 0;
	padding-right: 10px;
}

.menu-item {
	height: inherit;
	display: flex;
	margin-right: 30px;
}

.menu li {
	list-style: none;
	height: inherit;
}

.menu a {
	text-decoration: none;
	height: inherit;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 700;
}

.hero {
	background-color: #E9F7D6;
	/* width: inherit; */
}

.portada {
	position: absolute;
	left: 0;
	height: 90%;
	width: 100%;
	object-fit: cover;
}

.motto {
	position: absolute;
	left: 0;
	z-index: 2;
	color: black;
	font-family: 'Grand Hotel', cursive;
	font-size: 5em;
	width: 100%;
	top: 45%;
}

h1, h2 {
	margin: 0;
	font-weight: normal;
	padding: 20px;
	text-align: center;
}

.motto h1 {
	width: 100%;
	padding: 0;
}

h3 {
	padding-left: 10px;
}

.whoiam {
	background-color: #EEC9C7;
	height: 30%;
}

.whoiam-year, .whoiam-members {
	background: #F7F7F7;
	padding: 20px;
	margin: 30px;
}

.whoiam-year p, .whoiam-members p {
	font-family: 'Muli', sans-serif;
}

.whoiam-title {
	padding-top: 110px;
}
#products-sales{
	background-image: url(../images/fondo-sales.jpg);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#products-new{
	background-image: url(../images/fondo-novedades.jpg);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product-item {
	height: 17em;
	width: 40%;
	border: .5px solid rgba(0, 0, 0, 0.219);
	margin: 1em;
	background: white;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 37px 20px -33px #777;
}

.product-price {
	margin-bottom: 1.5em;
	border-left: 3px solid #01DF9D;
	padding-left: .5em;
	font-size: larger;
}

.product-price-detail{
	font-size: .8em;
}

.product-properties {
	border-left: 3px solid black;
	padding-left: .5em;
}

.product-properties ul {
	margin: 0 1em;
	list-style-type: square;
}

.product-size {
	margin: 0;
}

.product-color {
	margin: 0;
	display: flex;
}

.product-color p {
	margin-right: .5em;
}

.product-color-colours {
	display: flex;
	flex-wrap: wrap;
}

.square-color {
	width: 1em;
	height: 1em;
	margin: 1em .5em 0 0;
	border: 1px solid black;
}

#c0002 {
	background: black;
}

#c0003 {
	background: white;
}

#c0004 {
	background: #C6C2B7;
}

#c0005 {
	background: #723443;
}

#c0010 {
	background: #120A8F;
}

#c0011 {
	background: #808080;
}

#c0012 {
	background: white;
}

#c0013 {
	background: #F5F5DC;
}

#c0014 {
	background: #FAFAFA;
}

#c0015 {
	background: #FFDB58;
}

#c0016 {
	background: #FACBD1;
}

#c0017 {
	background: black;
}

#c0018 {
	background: black;
}

#c0019 {
	background: #FFDB58;
}

#c0020 {
	background: #F5F5DC;
}
#c0021 {
	background: #861D29;
}
#c0022 {
	background: #F5F5DC;
}
#c0023 {
	background: #F5F5DC;
}
#c0024 {
	background: #F5F5DC;
}
#c0025 {
	background: #F5F5DC;
}
#c0026 {
	background: #F5F5DC;
}

.products h3 {
	padding: 0;
	margin: .5em;
	margin-left: 0;
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(233, 232, 232);
	/* text-decoration: underline; */
	/* border-bottom: 1px solid black; */
}

.imageContainer-product {
	width: 48%;
	margin: 0;
	padding-top: 3em;
}

.imageContainer-product img {
	height: 76%;
	width: 106%;
	object-fit: cover;
	margin: .5em;
	border-radius: 2em;
	transform: rotate(90deg);
	display: block;
	margin: auto;
}

.product-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 48%
}

.contact, .location {
	background: white;
}

.contact-location {
	display: flex;
	background: #F7F7F7;
	justify-content: space-between;
}

.contact, .location {
	width: 50%;
	border: 1px solid #FFCDC4;
	margin: 20px;
	overflow: hidden;
	margin-bottom: 30px;
}

.contact-telephone, .contact-email {
	padding: 20px;
	padding-left: 60px;
	display: flex;
}

.contact p {
	margin-left: 20px;
}

.contact img {
	align-self: center;
}

.location-map {
	padding-left: 5px;
	margin: 0;
	display: flex;
	background-image: url(../images/geo.jpg);
	background-size: 1000px;
	background-position-y: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.location img {
	align-self: center;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.location-map a {
	text-decoration: none;
	color: black;
	border: 1px solid white;
	padding: 12px;
	/* border-radius: 20px; */
	height: 20px;
	margin-left: 20px;
	font-weight: bold;
	font-size: 20px;
	background: white;
	box-shadow: 0 21px 21px -12px #777
}

.timetable {
	height: 23em;
	background: #F7F7F7;
}

.timetable-days {
	display: flex;
	justify-content: center;
}

.timetable-days h3 {
	margin: 0;
	text-align: center;
}

.timetable-weekday, .timetable-weekend {
	border: 1px solid #FFCDC4;
	margin: 10px;
	padding: 10px 60px;
	background-color: #EEC9C7;
}

.timetable-weekday h3, .timetable-weekend h3 {
	border-bottom: 1px solid black;
}

footer {
	background-color: #01DF9D;
	display: flex;
	justify-content: space-between;
	font-family: 'Pacifico', cursive;
	height: 100px;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

footer a {
	text-decoration: none;
	color: #6C6245;
	font-family: 'Pacifico', cursive;
}

footer .copy {
	margin-left: 30px;
}

.social {
	margin-top: 10px;
	height: 60px;
	padding: px;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.social-list {
	display: flex;
	justify-content: space-evenly;
	margin-right: 35px;
}

.social-item-facebook {
	background-image: url(../images/facebook.svg);
	height: 40px;
	width: 40px;
	margin: 10px;
}

.social-item-instagram {
	background-image: url(../images/instagram.svg);
	height: 40px;
	width: 40px;
	margin: 10px;
}