html {
	font-size: 10px;
	font-family: 'Noto Serif JP', sans-serif;
	}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 1px black; /*El primer valor para desplazamiento horizontal, el segundo valor para
desplazamiento vertical, el tercer valor para el desenfoque y el cuarto para el color de la sombra.*/
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

h2, div ,li,ul{
	font-size: 20px;
	text-align: center;
}

h3 {
	font-size: 16px;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

nav {
	font-size: 20px;
	height: 50px;
	flex: 100%;
	display: center;
	background-color: rgba(0,255,0,0.5);
	padding: 1%;
	line-height: 1.5;
  }

footer
{
    margin-top:20px;
    width:100%;
    height:125px;
	background-color: #ECCEF5;
	position: absolute;
	bottom: 0;
}
