/* Para cuadros: #F9FFED */
body{
	margin: 0;
}
header{
	display: flex;
	height: 100;
	justify-content: space-between;
}

header .imageContainer{
	margin: 0;
	height: inherit;
}

.menu{
	display: flex;
	height: inherit;
}

.menu-list{
	display: inherit;
	height: inherit;
	margin: 0;
	padding: 0;
	padding-right: 30px;
	 
}

.menu-item{
	height: inherit;
	display: flex;
	align-items: center;
	margin: 10px;
}

.menu li{
	list-style: none;
	height: inherit;
}

.menu a{
	text-decoration: none;
	height: inherit;
}

h1{
	background-color: #F9FFED;
	margin: 0;
	padding: 20px;
	text-align: center;
}

